<section class="page-title">
  <div class="container">
    <h2><span><%= t 'accomodations' %></span></h2>
   <!--  <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'accomodations' %></a></li>
    </ul>/.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h2><%= t 'accomodations' %></h2>
    </div>
    <div>

      <%= t 'accommodation_info' %>
      <a href="mailto:rio.alojamientos@dc.exa.unrc.edu.ar">rio.alojamientos@dc.exa.unrc.edu.ar</a> <br><br>

  <!--     <%= t 'accommodation_info1' %> -->

  </div>
        <h3>Hoteles en Río Cuarto</h3>

  <div class=accom>
<!--   <p class="justi">
    <br>
    <%= t 'hotels' %>:
  </p>
  --> <p class="justi">
    El siguiente documento brinda información de tarifas de alojamiento en Río Cuarto provista por la Secretaría de Turismo de la Municipalidad. Sólo para ser tomados como precios de referencia, actualizados al 5 de diciembre 2019. <br>
    <strong>La escuela no se hace responsable por variaciones en los precios, no tiene relación alguna, ni tramita alojamientos en las empresas mencionadas en la lista.</strong>
  </p>
    <h4><%= link_to 'Alojamiento Rio Cuarto', accommodation_rio_url, target: :_blank %></h4>
  



 <h3>      <%= t 'tourism' %></h3>
      <%= t 'tourism_info' %><a href="https://www.facebook.com/turismogobiernoriocuarto/"> <%= t 'tourism_info1' %>
</div>
</div>
</section>
