<section class="page-title">

    <h2><span><%= t 'school' %><span></h2>
<!--     <ul class="list-inline">
 -->    <!-- </ul> --><!-- /.list-inline -->
</section><!-- /.page-title -->


<section class="school">
  <div>
    <center>
      <h2><%= t 'course_title' %></h2>
    </center>
    <ul class="courses">
      <li>
        <h3> <bold><%= t 'course', number: 1 %></bold>: <a href="#" onclick="toggleCourse('curso1'); return false;">Software Testing</a></h3>
        <h4> <%= t 'course_charge' %>: <%= link_to 'Marcelo D’Amorim', 'https://www.cin.ufpe.br/~damorim/', target: '_blank' %></h4>
           <h5> <%= fa_icon "map-marker" %> Sala 102 - Pabellón 2 </h5>         
 
        <div id="curso1" class="description">
          <%= t 'english_course' %>
          <br><br>
          <strong><%= t 'course_description' %></strong> <br>
          Software Testing is an approach to assure software quality that is widely adopted in industry. The goal of this course is to introduce Software Testing to students of various backgrounds. The course will cover concepts at different levels. The first two days of the course will cover basic material (e.g., definitions, coverage adequacy, etc.) to students that have no exposure to the discipline. Then, progressively, the course will cover more advanced concepts (e.g., fuzzing, symbolic execution, bounded model checking) and problems investigated in academic research.

                    <br><br>
          <strong> Materiales del curso: </strong>
            <h4><%= link_to 'Link al curso', 'https://github.com/damorim/testing-cin-minicourse/', target: :_blank %></h4>
            <h5> <%= fa_icon "map-marker" %> Sala 102 - Pabellón 2 </h5> 
          <br><br>
          <div class="single-speaker">
           <div class="img-box">
            <%= image_tag('speakers/marcelodamorim.jpg', size: '250x250') %>
            <div class="overlay-box">
              <div class="display-table">
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3><%= link_to 'Marcelo D’Amorim', 'https://www.cin.ufpe.br/~damorim/', target: '_blank' %></h3>
          <p><%= t 'uni_brasil' %></p>
          </div><!-- /.single-speaker -->
         </div>
      </li>
</ul>
    <ul class="courses">
      <li>
        <h3> <bold><%= t 'course', number: 2 %></bold>: <a href="#" onclick="toggleCourse('curso2'); return false;">A programming language approach for Differential Privacy with accuracy</a></h3>
        <h4> <%= t 'course_charge' %>: <%= link_to 'Marco Gaboardi', 'http://cs-people.bu.edu/gaboardi/', target: '_blank' %> y <%= link_to 'Alejandro Russo', 'http://www.cse.chalmers.se/~russo/', target: '_blank' %> </h4>
        <h5> <%= fa_icon "map-marker" %> Sala 101 - Pabellón 2 </h5> 
        <div id="curso2" class="description">
          <%= t 'english_spanish_course' %>

          <br><br>
          <strong><%= t 'course_description' %></strong> <br>
              <%= t 'course2_description' %>

          <br><br>
          <strong> Materiales del curso: </strong>
            <h4><%= link_to 'Link al curso', 'http://www.cse.chalmers.se/~russo/rio2020/', target: :_blank %></h4>
          <br><br>

        <div class="row">    
          <div class="col-md-4">   
            <div class="single-speaker">
             <div class="img-box">
              <%= image_tag('speakers/gaboardi.png', size: '250x250') %>
              <div class="overlay-box">
                <div class="display-table">
                </div><!-- /.display-table -->
              </div><!-- /.overlay-box -->
            </div><!-- /.img-box -->
            <h3><%= link_to 'Marco Gaboardi', 'http://cs-people.bu.edu/gaboardi/', target: '_blank' %></h3>
            <p>Boston University</p>
            </div><!-- /.single-speaker -->
         </div>
       
        <div class="col-md-8">    
         <div class="single-speaker">   
           <div class="img-box">    
             <%= image_tag('speakers/russo.png', size: '250x250') %>    
             <div class="overlay-box">    
               <div class="display-table">    
                 <div class="display-table-cell">   
                 </div><!-- /.display-table-cell -->    
               </div><!-- /.display-table -->   
             </div><!-- /.overlay-box -->   
           </div><!-- /.img-box -->   
          <h3><%= link_to 'Alejandro Russo', 'http://www.cse.chalmers.se/~russo', target: '_blank' %></h3>         
          <p>Chalmers University of Technology</p>   
         </div><!-- /.single-speaker -->    
       </div><!-- /.col-md-3 -->   
      </div> 
      </li>
</ul>
    <ul class="courses">
      <li>
        <h3> <bold><%= t 'course', number: 3 %></bold>: <a href="#" onclick="toggleCourse('curso3'); return false;">Enfoques clásicos y neuronales a la Minería de Texto</a></h3>
        <h4><%= t 'course_charge' %>:<a href="#" onclick="toggleSpeakers('speakers3'); return false;">Marcelo Errecalde</a></h4>
          <div id="speakers3" class="description" align="justify">            
          </div><!-- /.single-speaker -->
<!--         <h4> <%= t 'course_charge' %>: <%= link_to 'Marcelo Errecalde ', target: '_blank' %></h4>
 -->      
        <h5> <%= fa_icon "map-marker" %> Anfiteatro 2 - Pabellón 2 </h5> 
        <div id="curso3" class="description">
            <%= t 'spanish_course' %>

          <br><br>
          <strong><%= t 'course_description' %></strong> <br>
              <%= t 'course3_description' %>
          <br><br>
          <strong> Materiales del curso: </strong>
            <h4><%= link_to 'Link al curso', 'https://github.com/merrecalde/rio_2020 ', target: :_blank %></h4>
          <br><br>
          <div class="single-speaker">
           <div class="img-box">
            <%= image_tag('speakers/errecalde.png', size: '250x250') %>
            <div class="overlay-box">
              <div class="display-table">
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
        <p><%= t 'unsl' %></p>

          <h3><a href="#" onclick="toggleSpeakers('speakers3'); return false;">Marcelo Errecalde</a></h3>
          <div id="speakers3" class="description" align="justify">            
              <%= t 'speaker3_about' %>
          </div><!-- /.single-speaker -->
         </div>
      </li>
  </ul>
   <ul class="courses">
      <li>
        <h3> <bold><%= t 'course', number: 4 %></bold>: <a href="#" onclick="toggleCourse('curso4'); return false;">Abstracciones en la Práctica de la Programación Funcional</a></h3>
        <h4> <%= t 'course_charge' %>: <%= link_to 'Mauro Jaskelioff ', 'https://www.fceia.unr.edu.ar/~mauro/', target: '_blank' %></h4>
        <h5> <%= fa_icon "map-marker" %> Sala 101 - Pabellón 2 </h5> 
        <div id="curso4" class="description">
          <%= t 'spanish_course' %>
          <br><br>
          <strong><%= t 'course_description' %></strong> <br>
              <%= t 'course4_description' %>
                    <br><br>
          <strong> Materiales del curso: </strong>
            <h4><%= link_to 'Link al curso', 'https://github.com/mjaskelioff/CursoRio2020', target: :_blank %></h4>
          <br><br>
          <div class="single-speaker">
           <div class="img-box">
            <%= image_tag('speakers/jaskelioff.jpg', size: '250x250') %>
            <div class="overlay-box">
              <div class="display-table">
              </div><!-- /.display-table -->
            </div><!-- /.overlay-box -->
          </div><!-- /.img-box -->
          <h3><%= link_to 'Mauro Jaskelioff', 'https://www.fceia.unr.edu.ar/~mauro/', target: '_blank' %></h3>
          <p><%= t 'unr' %></p>
          </div><!-- /.single-speaker -->
         </div>
      </li>
  </ul>
</div>
</section>



<script type="text/javascript">
function toggleCourse(id) {
  $(`.school ul.courses li div#${id}`).toggle();
}

function toggleSpeakers(id) {
  $(`.school ul.courses li div div#${id}`).toggle();
}
function toggleSpeakers(id) {
  $(`.school ul.courses li div#${id}`).toggle();
}
</script>
