  <section class="page-title">
    <div class="container">
      <h2><span><%= t 'sponsors' %></span></h2>
    <!--   <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'sponsors' %></a></li>
      </ul>/.list-inline -->
    </div><!-- /.container -->
  </section><!-- /.page-title -->


  <section class="event-sponsor sec-pad">
    <div class="container">
      <div class="sec-title text-center">
        <h5>RIO 2020</h5>
        <h2><%= t 'index_sponsors_desc' %></h2>
      </div><!-- /.sec-title text-center -->

            <div class="sec-title text-center">
              <p><%= t 'sponsors_thanks' %></p>
      </div>
      
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/futit.jpg', size: '500x180'), 'https://www.futitservices.com/', target: "_blank"   %>
          </li> 
          <li>
          <%= link_to image_tag('sponsors/toptier.png', size: '450x220'), 'https://www.toptive.co/', target: "_blank" %>

        </li>
      </ul>
      <br>
      <br>
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/we-develop.png', size: '500x150'), 'https://wedevelop.me/', target: "_blank" %>

        </li>
        <li>
          <%= link_to image_tag('sponsors/trimix.png', size: '450x300'), 'https://www.trimix.com.ar', target: "_blank" %>

        </li>
      </ul>
      <br>
      <br>
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/MincytCordoba.png', size: '450x250'), 'https://mincyt.cba.gov.ar/', target: "_blank" %>
        </li>
        <li>
          <%= link_to image_tag('sponsors/balseiro.jpg', size: '350x220'), 'http://www.fundacionbalseiro.com/', target: "_blank" %>
        </li>
      </ul>
     <br>
     <br>
     <br>
<div class="sponsor-title text-center"><h2><%= t 'organize' %></h2><!-- /.organization-title -->
      <br />
      <ul class="sponsor-img-list list-inline text-center">
        <li>
          <%= link_to image_tag('sponsors/unrc.png'), 'https://www.unrc.edu.ar/', target: "_blank" %>
        </li>
          <li>
          <%= link_to image_tag('logo-dc-full.png', size: '220x220'), 'http://diogenes.dc.exa.unrc.edu.ar', target: "_blank" %>
        </li>
      </ul>
    </div><!-- /.container -->
  </section><!-- /.event-sponsor sec-pad -->
