<html>
<head>
<title>Font Awesome 5 Icons</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!--Get your own code at fontawesome.com-->
</head>

<section class="page-title">
  <div class="container">
    <h2><span>Charlas</span></h2>
   
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="school">
  <div>
    <center>
      <h2>Charlas</h2>
      Quienes se inscriban y asistan a las charlas recibirán certificado.
    </center>
  </div>




<ul class="courses">
      <li>
        <h3> <bold>Charla 1</bold>: <a href="#" onclick="toggleCourse('charla1'); return false;">La Evolucion de las APIs: GraphQL</a></h3>
       
        <h4> A cargo de: <%= link_to 'WeDevelop', 'https://wedevelop.me/', target: '_blank' %>
       </h4>  
        <h5> <i class='fas fa-calendar-alt'></i> Martes 18 de Febrero. 15 hs. </h5> 
        <h5> <%= fa_icon "map-marker" %> Aula 27-Pabellón 4 </h5>   
         <a href="https://forms.gle/euwjTxXx6AnpjHMN8" target="_blank"> <font size="3"> Formulario de Inscripción</font></a>.<br>
        <div id="charla1" class="description">
          <strong>Abstract</strong> <br>
          Diseño avanzado de API usando GraphQL, un producto de Facebook que está haciendo podio en el mundo de las API por sobre REST. Usando el stack de Javascript más popular: Node.js + Express.
        </div>
      </li>
     




      <li>
        <h3> <bold>Charla 2</bold>: <a href="#" onclick="toggleCourse('charla2'); return false;">Machine Learning - Soluciones y aplicación en ambiente empresarial</a></h3>
       
        <h4> A cargo de: <%= link_to 'Futit Services', 'https://www.futitservices.com/', target: '_blank' %>
       </h4>  
        <h5> <i class='fas fa-calendar-alt'></i> Jueves 20 de Febrero. 14.30 hs.</h5> 
        <h5> <%= fa_icon "map-marker" %> Aula 27-Pabellón 4 </h5>   
          <a href="https://forms.gle/BpJUM7Xsxe3EM9t2A" target="_blank"> <font size="3"> Formulario de Inscripción</font></a>.<br>
        <div id="charla2" class="description">
          <strong>Abstract</strong> <br>
          Charlaremos cómo el proceso de brindar servicios va mutando a lo largo del tiempo y las necesidades de los clientes, y a partir de esto, como potenciar el negocio de los mismos a través de el uso de Machine Learning.
        </div>
      </li>

      <li>
        <h3> <bold>Charla 3</bold>: <a href="#" onclick="toggleCourse('charla3'); return false;">El futuro del desarrollo mobile</a></h3>
       
        <h4> A cargo de: <%= link_to 'Toptive', 'https://www.toptive.co/', target: '_blank' %>
       </h4>  

        <h5> <i class='fas fa-calendar-alt'></i> Viernes 21 de Febrero. 14.30 hs.</h5> 
        <h5> <%= fa_icon "map-marker" %> Aula 27-Pabellón 4 </h5>   
        <a href="https://forms.gle/f5513fsRFxuqVqJy6" target="_blank"> <font size="3"> Formulario de Inscripción</font></a>.<br>
        <div id="charla3" class="description">
          <strong>Abstract</strong> <br>
          Al momento de elegir la tecnología con la que desarrollar una aplicación, entran en juego múltiples factores: tiempos del proyecto, costo, capacidad técnica del equipo, ventajas y desventajas intrínsecas de cada tecnología. Cada uno ejerce presión en una dirección diferente, y es importante encontrar un punto de equilibrio en el que confluyan todos en pos de las necesidades reales del proyecto y las expectativas del cliente.
          Teniendo en cuenta todos estos factores, en Toptive confiamos en que la mejor opción para el desarrollo de Apps hoy en día es React Native.
        </div>
      </li>
      <li>
        <h3> <bold>Charla 4</bold>: <a href="#" onclick="toggleCourse('charla4'); return false;">Business Intelligence - Realidad y experiencia</a></h3>
       
        <h4> A cargo de: <%= link_to 'Trimix', 'https://www.trimix.com.ar', target: '_blank' %>
       </h4>  

        <h5> <i class='fas fa-calendar-alt'></i> Jueves 20 de Febrero. 15.30 hs.</h5> 
        <h5> <%= fa_icon "map-marker" %> Aula 28-Pabellón 4 </h5>   
        <a href="https://forms.gle/fS1NX941nUy2P3a99" target="_blank"> <font size="3"> Formulario de Inscripción</font></a>.<br>
        <div id="charla4" class="description">
          <strong>Abstract</strong> <br>
          Realizaremos una introducción a la inteligencia de negocios y hablaremos de como ejecutar proyectos con Qlik Sense
        </div>
      </li>
      
    </ul>

</section>



<script type="text/javascript">
function toggleCourse(id) {
  $(`.school ul.courses li div#${id}`).toggle();
}
</script>
