<footer>
  <div class="container">
    <div class="col-md-5">
      <div class="about-widget">
        <a href="<%= landing_index_url %>">
          <%= image_tag('logo-R.png', size: '100x90') %>
        </a>
<!--         <p><%= t 'the_conference_description' %></p>
        <p><%= t 'footer_the_conference_description' %></p> -->
      </div><!-- /.about-widget -->
    </div><!-- /.col-md-5 -->
    <div class="col-md-4">
    </div><!-- /.col-md-4 -->
    <div class="col-md-3">
      <div class="contact-widget">
        <h3><%= t 'contact' %></h3>
        <p><%= t 'contact_description' %></p>
        <ul>
          <li>
            Location:    Enlace Ruta 6 y 36, Km 608,
          </li>
          <li>Phone:    [54] 358 467-6235</li>
          <li>Email:    rio@dc.exa.unrc.edu.ar</li>
          <!-- <p><%= t 'scholarships' %>: becascacic19@dc.exa.unrc.edu.ar</p> -->
        </ul>
      </div><!-- /.contact-widget -->
    </div><!-- /.col-md-3 -->
  </div><!-- /.container -->
</footer>
<section class="footer-bottom">
  <div class="container">
    <div class="left-text pull-left">
      <p>RIO2020  &copy;  2020 All Right Reserved</p>
    </div><!-- /.left-text pull-left -->
    <div class="social pull-right">
      <ul class="list-inline">
        <li><a href="https://www.facebook.com/EscuelaDeVeranoRio/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/escuelaRio?ref_src=twsrc%5Etfw" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/escuelario/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul><!-- /.list-inline -->
    </div><!-- /.social pull-right -->
  </div><!-- /.container -->
</section><!-- /.footer-bottom -->
